@keyframes desplegar_menu_redondo {
	from{width:0%;margin-top:10%;margin-left:5%;}
	to{width:20%;margin-top:0%;margin-left:0%;}
}


@keyframes icono_seleccionado {
  from {border:0px;}
  to {border:10px;}
}

@keyframes fill_progress_bar {
  from {width:0;}
  to {width:100%;}
}

@keyframes now_entering {
	0% {margin-left:100%;opacity:0;}
	5% {margin-left:80%;opacity:0;font-size:14px;}
	10% {margin-left:25%;opacity:1;font-size:16px;}
	20% {margin-left:25%;opacity:1;font-size:16px;}
	25% {margin-left:-10%;opacity:0;font-size:14px;}
	100% {margin-left:-10%;opacity:0;font-size:14px;}
}

@keyframes paradas_metro{
	0% {margin-top:-100px;}
	1% {margin-top:10px;}
	25% {margin-top:10px;}
	26% {margin-top:-110px;}
	50% {margin-top:-110px;}
	51% {margin-top:-230px;}
	75% {margin-top:-230px;}
	76% {margin-top:-350px;}
	100% {margin-top:-350px;}
}

@keyframes now_entering_tablet {
	0% {margin-left:75%;opacity:0;}
	5% {margin-left:50%;opacity:0;font-size:16px;}
	10% {margin-left:25%;opacity:1;font-size:16px;}
	20% {margin-left:25%;opacity:1;font-size:16px;}
	25% {margin-left:-10%;opacity:0;font-size:16px;}
	100% {margin-left:-10%;opacity:0;font-size:16px;}
}



@media (min-width:1280px){

body{
	background-image:url("imagenes/index_background_night.gif");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#header{
	height:10%;
}

		#metrobilbao{
			display:flex;
			flex-direction:column;
			height:100px;
			width:500px;
			margin:auto;
			background-image:url("imagenes/info_panel_night.png"); 
			background-position:center;
			background-size:cover;
			background-size:120%;
			
		}
		
		#progressbarcontainer{
			position:relative;
			height:100%;
			width:90%;
			border:0px #d8f1f1 solid;
			border-radius:10px;
			background-color:white;
			opacity:1;
			margin:auto;
			margin-top:3%;
		}
		
		#progressbar{
			position:absolute;
			height:100%;
			width:90%;
			border-radius:10px;
			background-color:#74eeee;
			animation: fill_progress_bar linear 20s infinite;
		}
			
		#nowentering{
			width:50%;
			height:10%;
			margin:auto;
			margin-top:2%;
			color:white;
			text-align:center;
			font-family:Lucida Console;
			font-style: italic;
			animation: now_entering linear 20s infinite;
		}
		
		#paradasmetro {
			height:500%;
			width:35%;
			overflow:hidden;
			margin:auto;
			text-align:center;
		}

		#paradasmetro > div > div{
			color:#fff;
			height:100px;
			margin:10px;
			display:inline-block;
			font-family:Lucida Console;
			font-size:24px;
			font-weight:1000;
			text-shadow: 0 0 2px #1f6868;
		}
		
		#paradasmetro > div:first-child{
			animation: paradas_metro 80s infinite;	
		}




#main{
	height:80%;
}

#menu{
	height:100%;
	width:20%;
	float:left;
}

	#roundmenu{
		width:100%;
		height:20%;
		display:block;
	}

	#clickround{
		float:left;
		position:relative;
		margin:10%;
		margin-top:29%;
		margin-left:2.5%;
		width:45%;
		cursor:pointer;
		z-index:5;
	}

	#menudesplegable{
		position:absolute;
		display:none;
		width:20%;
		height:10%;
		z-index:4;
	}

	#menudesplegable > img:nth-child(1){
		position:relative;
		float:left;
		width:25%;
		margin-top:9.5%;
		margin-left:7.5%;
		cursor:pointer;	
	}

	#menudesplegable > img:nth-child(2){
		position:relative;
		float:left;
		width:25%;
		margin-top:15%;
		margin-left:1%;
		cursor:pointer;	
	}

	#menudesplegable > img:nth-child(3){
		position:relative;
		float:left;
		width:25%;
		margin-top:0%;
		margin-left:42%;
		cursor:pointer;	
	}

	#roundmenu:hover #menudesplegable{
		display:block;
		animation-name:desplegar_menu_redondo;
		animation-duration:0.5s;
	}


	#rectanglemenu{
		height:70%;
		width:auto;
	}
	
	#button1, #button2, #button3{
		background:url("imagenes/rectangle_menu_night.png");
		background-size: 100% 105%;
		background-position:center;
		background-repeat:no-repeat;
		height:20%;
		width:80%;
		border:none;
		color:#fff;
		font-family:Lucida Console;
		font-size:0.9em;
		font-weight:700;
		text-shadow: 0 0 2px #1f6868;
		
	}



	.brighter{
		filter: brightness(1);
		transition:filter 0.3s;
	}

	.brighter:hover{
		filter: brightness(1.2);
	}
	

#content{
}
	
	#page1, #page2, #page3{
		display:none;		
		background-image:url("imagenes/info_panel_night.png");
		background-size:110% 120%;
		background-position:center;
	}
	
	.page{
		height:90%;
		width:70%;
		margin-left:-5%;
		margin-top:1.25%;

		float:left;
	}

#footer{
	height:10%;
	background-color:black;
	opacity:0.3;
}

}

@media (min-width:768px) and (max-width:1279px){

body{
	background-image:url("imagenes/index_background_night.gif");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#header{
	height:10%;
}

		#metrobilbao{
			display:flex;
			flex-direction:column;
			height:80px;
			width:500px;
			margin:auto;
			background-image:url("imagenes/info_panel_night.png"); 
			background-position:center;
			background-size:cover;
			background-size:120%;
			
		}
		
		#progressbarcontainer{
			position:relative;
			height:100%;
			width:90%;
			border:0px #d8f1f1 solid;
			border-radius:10px;
			background-color:white;
			opacity:1;
			margin:auto;
			margin-top:3%;
		}
		
		#progressbar{
			position:absolute;
			height:100%;
			width:90%;
			border-radius:10px;
			background-color:#74eeee;
			animation: fill_progress_bar linear 20s infinite;
		}
			
		#nowentering{
			width:50%;
			height:10%;
			margin:auto;
			margin-top:2%;
			color:white;
			text-align:center;
			font-family:Lucida Console;
			font-style: italic;
			animation: now_entering_tablet linear 20s infinite;
		}
		
		#paradasmetro {
			height:500%;
			width:35%;
			overflow:hidden;
			margin:auto;
			margin-top:-10px;
			text-align:center;
		}

		#paradasmetro > div > div{
			color:#fff;
			height:100px;
			margin:10px;
			display:inline-block;
			font-family:Lucida Console;
			font-size:24px;
			font-weight:1000;
			text-shadow: 0 0 2px #1f6868;
		}
		
		#paradasmetro > div:first-child{
			animation: paradas_metro 80s infinite;	
		}




#main{
	height:80%;
}

#menu{
	height:100%;
	width:20%;
	float:left;
}

	#roundmenu{
		width:100%;
		height:20%;
		display:block;
	}

	#clickround{
		float:left;
		position:relative;
		margin:10%;
		margin-top:20%;
		margin-left:11.25%;
		width:50%;
		cursor:pointer;
		z-index:5;
	}

	#menudesplegable{
		position:absolute;
		display:none;
		width:20%;
		height:10%;
		z-index:4;
	}

	#menudesplegable > img:nth-child(1){
		position:relative;
		margin-top:62.5%;
		margin-left:2.5%;
		float:left;
		width:33%;

		cursor:pointer;	
	}

	#menudesplegable > img:nth-child(2){
		position:relative;
		float:left;
		margin-top:62.5%;
		margin-left:2.5%;		
		width:33%;

		cursor:pointer;	
	}

	#menudesplegable > img:nth-child(3){
		position:relative;
		float:left;
		margin-top:-2%;
		margin-left:20%;
		width:33%;

		cursor:pointer;	
	}

	#roundmenu:hover #menudesplegable{
		display:block;
		animation-name:desplegar_menu_redondo;
		animation-duration:0.5s;
	}


	#rectanglemenu{
		margin-top:70%;
		height:50%;
		width:auto;
	}
	
	#button1, #button2, #button3{
		background:url("imagenes/rectangle_menu_night.png");
		background-size: 100% 105%;
		background-position:center;
		background-repeat:no-repeat;
		height:30%;
		width:80%;
		border:none;
		color:#fff;
		font-family:Lucida Console;
		font-size:0.8em;
		font-weight:700;
		text-shadow: 0 0 2px #1f6868;
		
	}



	.brighter{
		filter: brightness(1);
		transition:filter 0.3s;
	}

	.brighter:hover{
		filter: brightness(1.2);
	}
	

#content{
}
	
	#page1, #page2, #page3{
		display:none;		
		background-image:url("imagenes/info_panel_night.png");
		background-size:110% 120%;
		background-position:center;
	}
	
	.page{
		height:90%;
		width:70%;
		margin-left:-5%;
		margin-top:1.25%;

		float:left;
	}

#footer{
	height:10%;
	background-color:black;
	opacity:0.3;
}

}	

@media (min-width:320px) and (max-width:767px){

body{
	background-image:url("imagenes/index_background_night.gif");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

#header{
	height:2%;
}

	#nowentering{
		display:none;
	}

	#paradasmetro > div > div{
		display:none;
	}
		


#main{
	height:80%;
}

#menu{
	height:30%;
	width:100%;
	float:left;
}

	#roundmenu{
		width:70%;
		height:50%;
		display:block;
	}

	#clickround{
		float:left;
		width:15%;
		margin-right:15%;
		cursor:pointer;
	}

	#menudesplegable{
		float:left;
		width:70%;
		height:50%;
		
	}

	#menudesplegable img{
		float:left;
		position:relative;
		margin-top:2.5%;
		width:30%;
		
	}


	#rectanglemenu{
		height:45%;
		width:auto;
	}
	
	#rectanglemenu button{
		height:100%;
		float:left;
	}
	
	#button1, #button2, #button3{
		background:url("imagenes/rectangle_menu_night.png");
		background-size: 125% 100%;
		background-position:center;
		background-repeat:no-repeat;
		height:20%;
		width:33%;
		padding:0;
		margin-left:0%;
		border:none;
		color:#fff;
		font-family:Lucida Console;
		font-size:0.9em;
		font-weight:700;
		text-shadow: 0 0 2px #1f6868;
		
	}



	.brighter{
		filter: brightness(1);
		transition:filter 0.3s;
	}

	.brighter:hover{
		filter: brightness(1.2);
	}
	

#content{
}
	
	#page1, #page2, #page3{
		display:none;		
		background-image:url("imagenes/info_panel_night.png");
		background-size:105% 110%;
		background-position:center;
	}
	
	.page{
		height:60%;
		width:100%;
		margin:auto;
		float:left;
	}

#footer{
	height:10%;
	background-color:black;
	opacity:0.3;
}
	
}